.dashboard {
  position: absolute;
  width: 100%; height: 100%;
  display: flex;
}
.dashboard-wrap {
  width: 100%;
  padding: 20px 20px 20px 260px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
}
.greeting {
  background: #ffffff;
  padding: 20px;
}
.greeting .title {
  margin: 0 0 10px 0;
}
.monitor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #ffffff;
}
.monitor .box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-start;
  padding: 20px;
}
.monitor .box .info {
  display: grid;
  gap: 5px;
}
.monitor .box .info .link {
  color: #000;
  text-underline-offset: 2px;
  text-decoration: none;
}
.monitor .box .icon {
  background: #188c9450;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 0;
  transform: translate(-20px, 20px);
}
.monitor .info .num {
  font-size: 3rem;
}

.bottom {
  position: relative;
  background: #ffffff;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 20px 10px;
}
.bottom .header {
  padding: 0 10px 20px 10px;
  border-bottom: 1px solid #888;
  display: flex;
  align-items: center;
  gap: 10px;
}
.activities {
  position: relative;
}
.activities-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;
  overflow-y: auto;
  align-self: flex-start;
}
.canvas {
  display: block;
}

@media screen and (max-width: 1024px) {
  .dashboard-wrap {
    padding: 20px 20px 20px 80px;
  }
}