.logout {
  position: fixed;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00050e80;
  z-index: 9;
}
.logout-wrap {
  width: 400px;
  background: #ffffff;
  padding: 20px;
}
.header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 20px;
  align-items: flex-start;
}
.title {
  margin: 0 0 10px 0;
}
.action {
  margin: 40px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}
.action .btn {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background: #434d5c;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}
.action .btn:hover {
  filter: contrast(1.3);
}
.close-area {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}