.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.info .tag {
  width: 20px; height: 10px;
  border-radius: 0 1rem 1rem 0;
  background: #188c94ab;
}
.info .path {
  margin: 5px 0 0 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
.profile {
  display: flex;
  align-items: center;
  text-align: right;
}
.profile .email {
  margin: 5px 0 0 0;
}
.avatar {
  margin: 0 0 0 10px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.avatar:hover {
  filter: contrast(1.3);
}