.infobox {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  gap: 15px;
}
.box {
  display: grid;
  grid-template-columns: 1fr auto;
  background: #ffffff;
  padding: 15px;
}
.box .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #188c9450;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .total {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}
.box:nth-last-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
.box .canvas {
  width: 100%;
}